label{
    padding: 10px;
}
h2{
    color: white;
    padding: 10px;
}
.bookmark-wrapper{
    width: 100%;
    padding: 10px;
}
.bookmark-container:hover{
    transform: scale(1.03);
}
.bookmark-container{
    height: 200px;
    width: 220px;
    transition: 300ms ease;
}
.bookmark-img{
    width: 100%;
    height:  150px;
    border-radius: 10px;
    position: relative;
}
.bookmark-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.bookmark-description{
    padding: 5px;
    width: 100%;
    word-break: break-all;
    color: white;
    font-size: 12px;
}
.remove-bookmark{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 5;
    color: white;
    background-color: transparent;
}