.recipes-categories{
        height: auto;
}
.categories-recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 20px ;
     
}
@media (max-width:640px) {
    .recipes-categories{
        padding-bottom: 70px;
    }
}